/* ------公共样式------ */

body,
span,
header,
footer,
nav,
section,
aside,
article,
ul,
dl,
dt,
dd,
li,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
i,
b,
textarea,
button,
input,
select,
figure,
figcaption {
  padding: 0;
  margin: 0;
  list-style: none;
  font-style: normal;
  text-decoration: none;
  border: none;
  box-sizing: border-box;
  font-family: "Microsoft Yahei", sans-serif;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  height: auto;

  &:focus {
    outline: none;
  }
}

input[type="button"],
input[type="submit"],
input[type="search"],
input[type="reset"] {
  -webkit-appearance: none;
}

textarea {
  -webkit-appearance: none;
}

//// 更改input的默认背景颜色
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #EEEEEE inset !important;
  //-webkit-text-fill-color: #000000 !important;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  // min-width: 1280px;
  // min-height: 600px;
  margin: 0;
  padding: 0;
  overflow: auto;
  background-color: #eee;
}

// // 滚动条样式
::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: .6vw;
  /*高宽分别对应横竖滚动条的尺寸*/
  height: 0.2vw;
}

::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 0.5vw;
  background-color: rgba(53, 53, 62, 0.8);
  background-image: -webkit-linear-gradient(45deg,
      rgba(28, 28, 36, 0.8) 25%,
      transparent 25%,
      transparent 50%,
      rgba(28, 28, 36, 0.8) 50%,
      rgba(28, 28, 36, 0.8) 75%,
      transparent 75%,
      transparent);
}

::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  box-shadow: inset 0 0 5px rgba(54, 54, 69, 0.2);
  background: #484856;
  border-radius: 0.5vw;
}

::-webkit-scrollbar-corner {
  /*滚动条里面交叉圆角*/
  background: #484856;
}